@keyframes menu_animation{
  0%{
      opacity: 0;
      width: 0;
  }
  100%{
      opacity: 1;
      width: 120%;
  }
}
@keyframes mobile_menu_animation{
  0%{
      opacity: 0;
      width: 0;
  }
  100%{
      opacity: 1;
      width: 120%;
  }
}
@keyframes left_arrow_btn{
  0%, 50%, 100%{
      transform: scale(1.05);
  }
  25%{
      transform: scale(0.9);
  }
  75%{
      transform: scale(0.8);
  }
}
@keyframes right_arrow_btn{
  0%, 50%, 100%{
      transform: scale(1.05) rotate(180deg);
  }
  25%{
      transform: scale(0.9) rotate(180deg);
  }
  75%{
      transform: scale(0.8) rotate(180deg);
  }
}
@keyframes buttonAnimate{
  0%, 50%, 100%{
      transform: translateX(-50%) scale(1);
  }
  25%{
      transform: translateX(-50%) scale(0.9);
  }
  75%{
      transform: translateX(-50%) scale(0.8);
  }
}
@keyframes move_left{
    0%{
        transform: translateX(15px) rotate(180deg);
    }
    100%{
        transform: translateX(-15px) rotate(180deg);
    }
}
@keyframes move_right{
    0%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(15px);
    }
}
@keyframes left_animation{
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes right_animation{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.18);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bottom_animation{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon_blink{
    0%{
        opacity: .5;
        transform: translateX(calc(-50% + 15px));
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: .3;
        transform: translateX(calc(-50% - 15px));
    }
}