/* Variables */
:root {
  --primary: #f5d1c9;
  --secondary: #a8baca;
  --accent: #1d4c8b;
}

* {
  font-family: "Poppins", sans-serif;
}

.sub-heading {
  font-family: "Sacramento", cursive;
}

#line-break::after {
  content: "\a";
  white-space: pre;
}

/* Responsive */
/* Tablet */
@media screen and (max-width: 768px) {
}

/* Mobile */
@media screen and (max-width: 576px) {
}
/* Responsive Close */
