/* Global */
:root {
  --primary: #f5d1c9;
  --secondary: #a8baca;
  --accent: #1d4c8b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: var(--accent);
}
/* Global Close */

/* Objects */

/* Objects Close */

/* Utilities */
.u-text__align--left {
  text-align: left;
}

.u-text__align--center {
  text-align: center;
}

.u-text__align--right {
  text-align: right;
}

.u-text__transform--capitalize {
  text-transform: capitalize;
}

.u-text__transform--capitalize--first-letter::first-letter {
  text-transform: capitalize;
}

.u-text__transform--lowercase {
  text-transform: lowercase;
}

.u-text__transform--uppercase {
  text-transform: uppercase;
}

.u-font__weight--200 {
  font-weight: 200;
}

.u-font__weight--400 {
  font-weight: 400;
}

.u-font__weight--500 {
  font-weight: 500;
}

.u-font__weight--700 {
  font-weight: 700;
}

.u-bg__color--primary {
  background-color: var(--primary);
}

.u-bg__color--secondary {
  background-color: var(--secondary);
}

.u-bg__color--accent {
  background-color: var(--accent);
}
/* Utilities Close */

/* States */
.is-visible {
  display: block;
}

.is-invisible {
  display: none;
}
/* States Close */

/* Header */
.o-navbar,
.c-navbar__brand,
.o-navbar__links,
.c-navbar__button {
  display: flex;
}

.o-navbar {
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.c-navbar__brand img {
  width: 80px;
}

.o-navbar__links {
  width: 50%;
  justify-content: space-evenly;
}

.o-navbar__links li {
  list-style: none;
}

.o-navbar__links li a {
  text-decoration: none;
}

.o-navbar__links li a:hover {
  text-decoration: underline;
}

.c-navbar__button img {
  width: 25px;
}

.o-header {
  width: 100%;
  height: 100vh;
}

.o-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

.c-hero__title {
  font-size: 5rem;
  line-height: 5rem;
}

.c-hero__subtitle {
  font-family: "Sacramento", "Cursive";
  font-size: 2.5rem;
}

.c-hero__image {
  width: 500px;
  height: 500px;
}
/* Header Close */

/* Responsive */
@media (max-width: 768px) {
}

@media (max-width: 576px) {
  /* Header */
  .o-navbar,
  .o-navbar__links {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .o-navbar {
    height: 200px;
    background: var(--secondary);
  }

  .c-navbar__brand img {
    width: 70px;
  }

  .o-hero {
    margin-top: 1rem;
  }

  .c-hero__title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .c-hero__subtitle {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  .c-hero__image {
    width: 350px;
    height: 350px;
  }
  /* Header Close */
}
/* Responsive Close */
